[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = {ref = "ccdh-dev", git = "https://github.com/cancerDHC/linkml.git"}
jsonschema = "*"
jupyter = "*"
pip = "*"
pandas = "*"
pep517 = "*"
wheel = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.9"
